services:
  db:
    image: postgres:15-alpine
    container_name: projetoresgate_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=projetoresgatedb
    volumes:
      - "postgres_data:/var/lib/postgresql/data"

volumes:
  postgres_data: